/* red-hat-display-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/red-hat-display-v19-latin-500.woff2") format("woff2");
}
/* red-hat-display-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/red-hat-display-v19-latin-900.woff2") format("woff2");
}
:root {
  --ff-primary: "Red Hat Display", "Segoe UI", Tahoma, Geneva, sans-serif;
  --fs-preset-1: clamp(2.5rem, 1.971830985915493rem + 2.253521126760563vw, 4rem);
  --fs-preset-2: clamp(2rem, 1.823943661971831rem + 0.7511737089201878vw, 2.5rem);
  --fs-preset-3: clamp(0.75rem, 0.6619718309859155rem + 0.3755868544600939vw, 1rem);
  --fs-preset-4: clamp(1rem, 0.8571428571428572rem + 0.2976190476190476vw, 1.125rem);
  --fs-preset-5: 1rem;
  --letter-spacing-1: 0.25rem;
  --fw-1: 500;
  --fw-2: 900;
}

:root {
  --opacity: 0.85;
  --clr-primary-1: hsl(192, 37%, 48%);
  --clr-primary-2: hsl(192, 90%, 77%);
  --clr-primary-3: hsl(268, 34%, 53%);
  --clr-primary-4: hsl(268, 100%, 86%);
  --clr-secondary-1: hsl(240, 21%, 20%);
  --clr-secondary-2: hsl(240, 10%, 57%);
  --clr-secondary-3: hsl(240, 18%, 85%);
  --clr-secondary-4: hsl(0, 0%, 98%);
  --clr-primary-1-alpha: hsla(192, 37%, 48%, var(--opacity));
  --clr-hover1: hsl(192 54% 64%);
  --clr-hover2: hsl(268 55% 71%);
}

html {
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-primary);
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--clr-secondary-1);
  font-weight: var(--fw-1);
  background-color: var(--clr-secondary-4);
}

h1, h2, h3 {
  line-height: 1.1;
  font-weight: var(--fw-2);
}

p, li, figcaption {
  color: var(--clr-secondary-2);
  text-wrap: pretty;
  max-width: 65ch;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

a, a:visited, a:active {
  text-decoration: none;
}

.header {
  padding-inline: 80px;
  padding-block-start: 48px;
}

.header {
  display: flex;
  justify-content: center;
}

.hero__image {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(1.15) translateY(-0.5625rem);
  width: 100%;
}

.hero {
  padding-top: 64px;
}
.hero__content {
  padding-inline: 32px;
  padding-bottom: 32px;
  text-align: center;
  margin-top: 3rem;
}
.hero__title {
  font-size: var(--fs-preset-1);
}
.hero__desc {
  font-size: var(--fs-preset-4);
}
.hero__button {
  padding-inline: 40px;
  padding-block: 16px;
  border-radius: 1.8125rem;
  border: none;
  color: var(--clr-secondary-4);
  font-size: var(--fs-preset-5);
  font-weight: var(--fw-2);
  transition: background 0.3s ease;
}
.hero__button--cyan {
  background: var(--clr-primary-1);
}
.hero__button--cyan:hover, .hero__button--cyan:active, .hero__button--cyan:focus {
  background: var(--clr-hover1);
}
.hero__button--purple {
  background: var(--clr-primary-3);
  align-self: center;
}
.hero__button--purple:hover, .hero__button--purple:active, .hero__button--purple:focus {
  background: var(--clr-hover2);
}
.hero__button--cyan span {
  color: var(--clr-primary-2);
  display: inline-block;
  margin-left: 0.25rem;
}

.features {
  padding-inline: 32px;
  padding-top: 32px;
  padding-bottom: 64px;
  text-align: center;
}
.features__decors {
  color: var(--clr-secondary-2);
  font-weight: var(--fw-2);
}
.features__line {
  height: 5rem;
  width: 0;
  border: 0.03125rem solid var(--clr-secondary-3);
}
.features__circle {
  outline: 0.0625rem solid var(--clr-secondary-3);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: var(--clr-secondary-4);
}
.features__image {
  border-radius: 0.5rem;
}
.features__title {
  text-transform: uppercase;
  color: var(--clr-primary-1);
  font-size: var(--fs-preset-3);
  letter-spacing: 0.25rem;
  margin-block-end: 1rem;
}
.features__subtitle {
  font-size: var(--fs-preset-2);
  color: var(--clr-secondary-1);
  font-weight: var(--fw-2);
  line-height: 1.1;
  margin-block-end: 2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  text-align: center;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 29.375rem;
}
.hero__actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.features__decors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.features__circle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features__images {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(1rem, 0.6478873239rem + 1.5023474178vw, 2rem);
  align-self: stretch;
}
.features__image {
  flex: 1;
}
.features__content {
  max-width: 31.5rem;
}

.footer {
  position: relative;
  text-align: center;
}
.footer__title {
  font-size: var(--fs-preset-2);
  color: var(--clr-secondary-4);
}
.footer__desc {
  color: var(--clr-secondary-4);
}
.footer__button {
  padding-inline: 40px;
  padding-block: 16px;
  border-radius: 1.8125rem;
  border: none;
  color: var(--clr-secondary-4);
  font-size: var(--fs-preset-5);
  font-weight: var(--fw-2);
  transition: background 0.3s ease;
  background: var(--clr-primary-3);
  align-self: center;
}
.footer__button:hover, .footer__button:active, .footer__button:focus {
  background: var(--clr-hover2);
}
.footer__button span {
  color: var(--clr-primary-4);
  display: inline-block;
  margin-left: 0.25rem;
}
.footer__bg {
  padding-inline: 32px;
  padding-block: 64px;
  margin-top: -1.75rem;
  position: relative;
  background-image: url(../assets/mobile/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.footer__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary-1-alpha);
  z-index: 1;
}
.footer__wrapper {
  z-index: 3;
}
.footer__attribution {
  position: absolute;
  z-index: 100;
  inset-block-end: 5px;
  inset-inline: 0;
  font-size: 0.75rem;
  text-align: center;
  color: var(--clr-secondary-1);
}
.footer__attribution-link {
  border-radius: 0.1875rem;
  color: var(--clr-secondary-1);
  text-decoration: underline;
  transition: color 0.3s;
}
.footer__attribution-link:hover, .footer__attribution-link:focus-visible {
  color: var(--clr-secondary-4);
}
.footer__attribution-link:focus-visible {
  outline: 0.1875rem solid var(--clr-secondary-4);
  outline-offset: 0.125rem;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 31.5rem;
}
.footer__bg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__decor2 {
  position: relative;
  z-index: 2;
}

@media (width >= 47.9375em) {
  .hero__content {
    padding-bottom: 64px;
    margin-top: 4.5rem;
  }
  .hero__image {
    transform: translateX(-50%) scale(1.08) translateY(-0.5625rem);
  }
  .hero__actions {
    flex-direction: row;
  }
  .features {
    padding-top: 54px;
  }
  .features__images {
    max-width: 75rem;
  }
  .features__subtitle {
    padding-inline: 24px;
  }
  .footer__bg {
    background-image: url(../assets/tablet/image-footer.jpg);
  }
}
@media (width >= 75em) {
  .header {
    padding-top: 80px;
  }
  .hero {
    padding-inline: 80px;
    padding-block: 87px;
    background-image: url(../assets/desktop/image-hero-left.png), url(../assets/desktop/image-hero-right.png);
    background-position: -1.875rem 4rem, calc(100% + 1.5625rem) 7.5625rem;
    background-repeat: no-repeat, no-repeat;
    background-size: 24.625rem 18.75rem, 24.625rem 18.75rem;
  }
  .hero__image-wrapper {
    display: none;
  }
  .hero__content {
    padding-bottom: 0;
    padding-inline: 0;
    margin-top: 0;
    gap: 2rem;
  }
  .features {
    padding-inline: 40px;
    padding-top: 56px;
    padding-bottom: 72px;
  }
  .features__images {
    flex-wrap: nowrap;
    margin-inline: auto;
  }
  .features__image {
    width: 16rem;
    height: 16rem;
  }
  .footer {
    text-align: left;
  }
  .footer__bg {
    background-image: url(../assets/desktop/image-footer.jpg);
    background-size: cover;
    padding-inline: 80px;
    padding-block: 112px;
  }
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 70rem;
  }
  .footer__title {
    width: 12ch;
    text-wrap: stable;
  }
  .footer__desc {
    width: 30ch;
  }
  .footer__button {
    align-self: flex-start;
  }
}/*# sourceMappingURL=style.css.map */
