@use 'global/functions' as *;

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(24);
    max-width: rem(504);
}

.features__decor2 {
    position: relative;
    z-index: 1;
}