@use 'global/functions' as *;

.footer {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(24);
        max-width: rem(504);
    }

    &__bg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.features__decor2 {
    position: relative;
    z-index: 2;
}

