@use 'global/functions' as *;
@use 'components/main';
@use 'global/mixins' as mix;

.footer {
    text-align: center;
    
    &__title {
        font-size: var(--fs-preset-2);
        color: var(--clr-secondary-4);
    }
    
    &__desc {
        color: var(--clr-secondary-4);
    }
    
    &__button {
        @include mix.button;
        background: var(--clr-primary-3);
        align-self: center;

        &:hover, 
        &:active, 
        &:focus {
            background: var(--clr-hover2);
        }

        & span {
            color: var(--clr-primary-4);
            display: inline-block;
            margin-left: rem(4);

        }
    }
    
    &__bg {
        padding-inline: 32px;
        padding-block: 64px;
        margin-top: -(rem(28));
        position: relative;
        background-image: url(/assets/mobile/image-footer.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--clr-primary-1-alpha);
            z-index: 1;
        }
    }

    &__wrapper {
        z-index: 3;
    }
}