:root {
    --clr-primary-1: hsl(192, 37%, 48%);
    --clr-primary-2: hsl(192, 90%, 77%);
    --clr-primary-3: hsl(268, 34%, 53%);
    --clr-primary-4: hsl(268, 100%, 86%);
    --clr-secondary-1: hsl(240, 21%, 20%);
    --clr-secondary-2: hsl(240, 10%, 57%);
    --clr-secondary-3: hsl(240, 18%, 85%);
    --clr-secondary-4: hsl(0, 0%, 98%);
}