@use 'global/functions' as *;

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    text-align: center;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(24);
        max-width: rem(470);
    }
    
    &__actions {
        display: flex;
        flex-direction: column;
        gap: rem(16);
    }
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(64);

    &__decors {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__images {
        display: flex;
        flex-wrap: wrap;
        gap: rem(16);
        align-self: stretch;
    }

    &__image {
        flex: 1;
    }

    &__content {
        max-width: rem(504);
    }

   
}